<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>RSS Reader</title>
</head>
<body>

  <h1>RSS Readerサンプル</h1>

  <details th:each="item, stat : ${Rss.items}" th:object="${item}">
    <summary><span th:text="*{title}"></span></summary>
    <dl>
      <a th:href="*{link}" target="_blank"><dd th:text="*{description}">サンプル</dd></a>
    </dl>
  </details>

</body>
</html>