<!DOCTYPE HTML>
<html xmlns = "http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>ぐるなびレストラン検索結果</title>
</head>
<body>

  <h3>ぐるなび検索結果</h3>
  <table border="1" cellspacing="1">
    <tr th:each="item, stat : ${restData}" th:object="${item}">
      <td th:text="*{id}">id</td>
      <td th:text="*{name}">id</td>
      <td th:text="*{line}">id</td>
      <td th:text="*{station}">id</td>
      <td th:text="*{walk}">id</td>
    </tr>
  </table>

</body>
</html>
