<!DOCTYPE HTML>
<html xmlns = "http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>nomee | index</title>
  <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
  <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
  <div class="col">
    <div class="border-red">

      <div class="row">
        <div class="col-xs-4">
          <div class="col">
            <div class="border-red">ロゴ</div>
            <div class="border-red">お色気写真</div>
          </div>
        </div>
        <div class="col-xs-8 border-red">
          お店（意味深）の情報<br />
          場所とか、値段とか<br />
          その他いろいろ
        </div>
      </div>


    <div class="border-red">
    <div class="row">
        <div class="col-xs-4">
            <div class="border-red">
              <img src="https://www.pakutaso.com/assets_c/2015/10/MODELyuusei-thumb-160x160-19645.jpg" alt="ゆうせい" class="shadow" width="155"></img>
            </div>
        </div>
        <div class="col-xs-8 border-red">
          <details th:each="item, stat : ${Rss.items}" th:object="${item}">
            <summary><span th:text="*{title}"></span></summary>
              <dl>
                <a th:href="*{link}" target="_blank"><dd th:text="*{description}">サンプル</dd></a>
              </dl>
          </details>
        </div>
    </div>
    </div>

<!--
      <table border="1">
        <tr th:each="item, stat : ${restData}" th:object="${item}">
          <td th:text="*{id}">id</td>
          <td th:text="*{name}">id</td>
          <td th:text="*{line}">id</td>
          <td th:text="*{station}">id</td>
          <td th:text="*{walk}">id</td>
        </tr>
      </table>
 -->
    </div>
  </div>
</div>

</body>
</html>
